// (c) Yuoa
@import 'common';
@import '98-uikit';

main.crowdie {
    background-color: $bg;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}
