//- Crowdie error page
extends skel

block title
    = "Errrr!! - Crowdie"

block body
    main.bsod
        div#content
            div.container
                span.title= "Crowdie"
                p
                    | A fatal exception 404 has occurred at this page. The current application will be terminated.

                p
                    | * Press any key to terminate the current application. <br>
                div.indicator
                    span= "Press any key to continue"
                    span.blinking= "_"
    
    script(src="/js/bsod.js")
