//- Skeleton Layout
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="title", content="Crowdie")
        meta(name="description", content="Simple crowdfunding platform")
        link(rel="icon", href="/images/icon/favicon.ico")
        title
            block title
                = "Crowdie - Crowdfunding Platform"
        block head

    body#top
        block body
