//- Crowdie main page
extends layout

block head
    link(rel="stylesheet", href="/css/vapor.css")
    script(src="/js/onload.js")
    script(src="/js/socket.io.slim.js")
    script(src="/js/uikit.min.js")
    script(src="/js/interact.min.js")
    script(src="/js/moment.js")
    script= "var dbPath = '" + dbPath + "';"

block body
    main.crowdie
        include window/crowdie
        include window/wallet
        include window/invest
        include window/new
        include window/alert

    script(src="/js/media.js")
    script(src="/js/window.js")
    script(src="/js/dbComm.js")
    script(src="/js/w3Comm.js")
